@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: black;
}

.default{
  background-color: white;
  text-align: center;
  color: black;
}

.light{
  background-color: red;
}

.dark{
background-color: green;
}